<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} title {% endblock %}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    {% block head_content %} links {% endblock %}

</head>
<body>

<header class="header_m" >
    <nav class="navbar bg-body-tertiary fixed-top bg_color_header">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main_view' %}"><img src="{% static 'img/logo_2.3.gif' %}" alt="ND-logo" width="250" ></a>
        <button class="navbar-toggler border_my" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon icon_my"></span>
        </button>
        <div class="offcanvas offcanvas-end beta" style="background: radial-gradient(at top left ,  #f378ab,#eeb4ff, #a39aff); border-left: 3px solid rgba(67, 101, 148, 0.67)" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
          </div>
          <div class="offcanvas-body list-unstyled">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'main_view' %}">Главная</a>
              </li>
              {% if not request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active fw-bolder" aria-current="page" href="{% url 'login' %}">Авторизация</a>
              </li>
              {% endif %}


            <li class="nav-item">
                <a class="nav-link active fw-bolder fs-5" aria-current="page" href="{% url 'shop:list_p' %}">Магазин</a>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                  English study
                </a>
                <ul class="dropdown-menu ">
                  <li><a class="dropdown-item" href="#">Грамматика</a></li>
                  <li><a class="dropdown-item" href="#">Словарь</a></li>
                  <li><a class="dropdown-item" href="#">Чтение</a></li>
                  <li><a class="dropdown-item" href="#">Аудирование</a></li>
                  <li><a class="dropdown-item" href="#">Говорение</a></li>
                  <li><a class="dropdown-item" href="#">Письмо</a></li>
                  <li><a class="dropdown-item" href="#">Фонетика</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                  Экзамены
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ЕГЭ</a></li>
                  <li><a class="dropdown-item" href="#">ОГЭ</a></li>
                </ul>
              </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">English humor </a>
              </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Вопрос-ответ</a>
              </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Методика</a>
              </li>
            <p><li class="nav-item">
                <a class="nav-link active fs-5 fw-semibold" aria-current="page" href="{% url 'cart:cart_detail' %}">Корзина</a>
              </li></p>
              {% if request.user.is_authenticated %}
              <li class="nav-item">


                  <a class="nav-link active" aria-current="page" href="{% url 'logout' %}?next=/">Выход</a>
              </li>
              {% endif %}
            </ul>

          </div>
        </div>
      </div>
    </nav>

</header>

<div style="background: linear-gradient(to bottom right, white 30% , #dfaaff );">
<main class="main_m" >
    <div class="cart float-end position-relative z-3 d-flex">
 {% with total_items=cart|length %}
 {% if total_items > 1 %}
        <a href="{% url 'cart:cart_detail' %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p>Содержимое корзины: </p></a>
  {{ total_items }} предметов на
 ${{ cart.get_total_price }}
 {% elif total_items == 1 %}
 <a href="{% url 'cart:cart_detail' %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><p>Содержимое корзины: </p></a>
  {{ total_items }} предмет на
 ${{ cart.get_total_price }}
      {% else %}

 {% endif %}
 {% endwith %}
</div>
  {% block content %}
  {% endblock %}



</main>

    </div>
    <footer class="footer_m">
<div class="container text-center">
    <div class="row">
      <p><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover position-relative" >Обо мне</a></p>
    </div>
  </div>
</footer>


<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>

</body>
</html>