{% extends "base.html" %}
{% load static %}

{% block title %}Пароль изменен{% endblock %}

{% block head_content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container pt-5  d-flex justify-content-center align-items-center">
 <div class="d-block pt-4">
<h2 class="stl_m">Установка пароля:</h2>
 <p class="stl_m">Пароль установлен.</p>
 <a href="{% url 'login' %}" class="btn btn-secondary"  role="button" >Войти</a></p>
</div>
 </div>
      {% endblock %}