{% extends "base.html" %}
{% load static %}

{% block title %}Сброс пароля{% endblock %}

{% block head_content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container pt-5  d-flex justify-content-center align-items-center">
     <div class="d-block pt-4">

<h2 class="stl_m">Ввод данных:</h2>
 <p class="stl_m">Введите адрес электронной почты</p>
 <form  method="post">
 {{ form.as_p }}
     <p><input class="btn btn-secondary" type="submit" value="Отправить"></p>
 {% csrf_token %}
 </form>
      </div>
 </div>
{% endblock %}