{% extends "base.html" %}
{% load static %}

{% block title %}Вход в систему{% endblock %}

{% block head_content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="container pt-5  d-flex justify-content-center align-items-center">
    <div class="d-block pt-4">
      <h2 class="stl_m">Вход:</h2>
      <p class="stl_m">Введите данные</p>
      {% if massage %}
         <p><ul><li class="text-danger">{{ massage }}</li></ul></p>
      {% endif %}
      <form  action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
      <p><input type="submit" class="btn btn-secondary" value="Войти"></p>
      <a href="{% url 'password_reset' %}" class="btn btn-outline-secondary"  role="button" >Сбросить пароль</a>
      <a href="{% url 'register' %}" class="btn btn-outline-secondary"  role="button" >Регистрация</a>
      </form>
    </div>
  </div>
{% endblock %}