{% extends "base.html" %}
{% load static %}

{% block title %} Инструкция отправлена{% endblock %}

{% block head_content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container pt-5  d-flex justify-content-center align-items-center">
     <div class="d-block pt-4">
<h2 class="stl_m">Сброс пароля</h2>
 <p class="stl_m">На вашу почту отправлено письмо с инструкцией.</p>
         <p class="stl_m">Если вы не получили электронное письмо, убедитесь,
         <p class="stl_m">что ввели адрес, указанный при регистрации.
</div>
 </div>
{% endblock %}