{% extends "base.html" %}
{% load static %}

{% block title %}Регистрация пользователя{% endblock %}

{% block head_content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container pt-1  d-flex justify-content-center align-items-center">
     <div class="d-block pt-4">

<h2 class="stl_m">Создание аккаунта</h2>
 <p class="stl_m">Введите данные в форму:</p>
 <form method="post">
 {{ user_form.as_p }}
 {% csrf_token %}
 <p><input type="submit" class="btn btn-secondary" value="Создать"></p>
 </form>
</div>
 </div>

      {% endblock %}